<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" rel="stylesheet">
</head>

<body>


    {{#user}}
    <h3>Logged in as {{user.username}}</h3>
    {{/user}} {{^user}}
    <h3>No user logged in</h3>
    {{/user}}
    <h3>

        <div class="nav">
            <a href="/logout">logout</a>
        </div>

        <h1>Welcome to Landi's Getting Backend</h1>
        <div class="login">
            <a class="addCss" href="/login">login</a>
        </div>



</body>

</html>